.text-color{
    background:#FF9B71;
    p{
        font-weight: bold;
        font-size: 20px;
    }
}

.btn-color{
    background: #FF9B71;
    font-weight: bold;
    color: black;
    border-color: #FF9B71;    
}

.card-color{
    background: #55DDFF;
    border-radius: 12px;
    border-color: #55DDFF;
    h5{
        font-size: 25px;
        font-weight: bolder;
    }
}

.img-color{
    background: none;
    border-style: none;
}