<div>
    <div class="row p-5 text-color">
    <div class="col text-center">
        <p>Somos una plataforma que busca terminar con los estereotipos a la hora de decidir tu futuro profesional</p>
    </div>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <h2><strong>Te ayudamos a</strong></h2>
        </div>
    </div>
    <div class="row d-flex justify-content-around pb-5">
        <div class="card text-center card-color mt-2" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Conoce más de ti</h5>
            <img src="./../../../assets/img/Ellipse 13.png" alt="Conoce más de ti" class="img-thumbnail img-color">
            <p class="card-text">Descubre tus habilidades a través de un Test para reconocer tus tipos de Inteligencia.</p>
            <a href="#" class="btn btn-primary btn-color">EMPEZAR TEST</a>
            </div>
        </div>
        
        <div class="card text-center card-color mt-2" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Carreras</h5>
            <img src="./../../../assets/img/Ellipse 14.png" alt="Carreras" class="img-thumbnail img-color">
            <p class="card-text">Conoce más de la carrera que te interesa acompañado de referentes de cada Industria.</p>
            <a href="#" class="btn btn-primary btn-color">DESCUBRIR CARRERAS</a>
            </div>
        </div>
        
        <div class="card text-center card-color mt-2" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Mentoras</h5>
            <img src="./../../../assets/img/Ellipse 15.png" alt="Mentoras" class="img-thumbnail img-color">
            <p class="card-text">Encuentra a mentoras de la carrera que te interesa para absolver todas tus dudas.</p>
            <a href="#" class="btn btn-primary btn-color">CONOCE A TU MENTORA</a>
            </div>
        </div>
    </div>
</div>