<div>
    <img src="../../../assets/img/aboutme.jpg" class="w-100" alt="" />
  </div>
  <div class="container mt-5">
    <p class="title">
      El primer paso para decidir tu futuro es conociendo tus capacidades y
      aspectos por mejorar.
    </p>
    <p class="title">
      Descubre qué tipos de inteligencia haz desarrollado a través de nuestro Test
      de Inteligencias Múltiples.
    </p>
  </div>
  <div class="mt-5 info p-5">
      <div class="container">
          <p class="title">
            INDICACIONES
          </p>
          <p class="title">
            - No hay respuestas buenas ni malas.
          </p>
          <p class="title">
            - Duración: 15 minutos
          </p>
        </div>
  </div>
  <div class="container button pt-5">
      <button class="btn">
          <a href="https://form.typeform.com/to/ClnFAJii" data-mode="popup" target="_blank">INICIAR TEST </a>
  </button>
  </div>
  
  
