
.container{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.3em;
}
.title {
    font-weight: 500;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif !important;
  }
  .info {
    background: rgba(255, 155, 113, 0.57);
    font-family: 'Montserrat', sans-serif !important;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    font-family: 'Montserrat', sans-serif !important;
    background: #55ddff;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1em;
    a{
      display:inline-block;
      text-decoration:none;
      cursor:pointer;
      color:black;
      margin: 2% 30px 2% 30px;
    }
  }
  
  