.card-color{
    font-family: 'Montserrat', sans-serif !important;
    background: #FF9B71;
    border-radius: 12px;
    border-color: #FF9B71;
}

.img-color{
    background: none;
    border-style: none;
    width: 60%;
}