<div class="container text-center mt-5 mb-5">
  <img src="../../../assets/img/headline.png" class="portada w-95" alt="" />
  <p class="text mt-3">
    Conoce las historias de referentes de la Industria que decidieron seguir sus
    sueños a pesar de los estereotipos.
  </p>
</div>
<div class="pt-5">
  <div class="div-container">
    <div class="name"><p>TECNOLOGÍA</p></div>
    <div class="row d-flex justify-content-around pt-2 pb-5">
      <app-card-carrera> </app-card-carrera>
      <app-card-carrera> </app-card-carrera>
      <app-card-carrera> </app-card-carrera>
    </div>
  </div>
</div>
